<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkj.website.mapper.CargoMapper">

    <!--货物新增 -->
    <insert id="addCargo" useGeneratedKeys="true" keyProperty="cid" keyColumn="cid"
            parameterType="com.xlkj.website.model.CargoDto" >
		INSERT INTO lp_cargo (
          cid,
          cargo_name,
          cargo_price,
          is_deleted
		)
		VALUES
		(
		  #{cid},
		  #{cargo_name},
		  #{cargo_price},
		  0
		);
	</insert>

    <!-- 货物修改 -->
    <update id="modifyCargo" parameterType="com.xlkj.website.model.CargoDto">
        UPDATE lp_cargo
        <set>
            <if test="null != cargoName and '' != cargoName">
                cargo_name = #{cargoName},
            </if>
            <if test="null != cargoPrice and '' != cargoPrice">
                cargo_price = #{cargoPrice},
            </if>
            <if test="null != isDeleted and '' != isDeleted">
                is_deleted = #{isDeleted},
            </if>
        </set>
        WHERE
        cid = #{cid};
    </update>

    <!--货物列表 -->
    <select id="listCargo" parameterType="java.lang.Integer" resultType="com.xlkj.website.model.CargoDto">
        select
        lpc.cid as cid,
        lpc.cargo_name as cargoName,
        lpc.cargo_price as cargoPrice,
        lpc.is_deleted as isDeleted
        from lp_cargo lpc
        where lpc.is_deleted=0
    </select>

    <!--订单详情货物 -->
    <select id="listOrderDetails" resultType="com.xlkj.website.model.bagCargoDto">
        select
        lgb.bag_code as bageCode,
        lc.cargo_name as cargoName,
        lc.cargo_price as cargoPrice,
        lod.cargo_weight as cargoWeight
        from lp_order lo
        left join lp_garbage_bag lgb on lo.oid=lgb.oid
        left join lp_order_details lod on lgb.bag_code=lod.bag_code
        left join lp_cargo lc on lod.cid=lc.cid
        where lo.oid=#{oid}
    </select>

    <!--新增订单货物 -->
    <insert id="addOrderDetails" parameterType="com.xlkj.website.model.OrderDetailsDto" >
		INSERT INTO lp_order_details (
		did,
		bag_code,
		cid,
		cargo_weight
		)
		VALUES
		(
		  #{did},
		  #{bagCode},
		  #{cid},
		  #{cargoWeight}
		);
	</insert>










</mapper>