<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkj.website.mapper.OrderFormMapper">

    <!--订单新增 -->
    <insert id="addOrderForm" useGeneratedKeys="true" keyProperty="oid" keyColumn="oid"
            parameterType="com.xlkj.website.model.OrderFormAddDto" >
		INSERT INTO lp_order (
          oid,
          order_code,
          open_id,
          receive_id,
          admin_id,
          check_id,
          eid,
          address_id,
          appointment_time,
          is_account,
          price_evaluation,
          is_deleted,
          order_create_time,
          order_send_time,
          order_get_time,
          order_finish_time,
          create_user_id,
          modify_user_id,
          order_state,
          sp_state,
          sp_msg,
          all_price,
          deduct_money,
          deduct_msg,
          order_type,
          memo
		)
		VALUES
		(
		  #{oid},
		  #{orderCode},
		  #{openId},
		  #{receiveId},
		  #{adminId},
		  #{checkId},
		  #{eid},
		  #{addressId},
		  #{appointmentTime},
		  #{isAccount},
		  #{priceEvaluation},
		  0,
		  now(),
		  #{orderSendTime},
		  #{orderGetTime},
		  #{orderFinishTime},
		  #{createUserId},
		  #{modifyUserId},
		  #{orderState},
		  1,
		  #{spMsg},
		  #{allPrice},
		  #{deductMoney},
		  #{deductMsg},
		  #{orderType},
		  #{memo}
		);
	</insert>

	<!-- 修改订单信息 -->
	<update id="modifyOrderForm" parameterType="com.xlkj.website.model.OrderFormAddDto">
	UPDATE lp_order
	<set>
		<if test="null != orderCode and '' != orderCode">
			order_code = #{orderCode},
		</if>
		<if test="null != deductMoney and '' != deductMoney">
			deduct_money = #{deductMoney},
		</if>
		<if test="null != receiveId and '' != receiveId">
			receive_id = #{receiveId},
		</if>
		<if test="null != adminId and '' != adminId">
			admin_id = #{adminId},
		</if>
		<if test="null != addressId and '' != addressId">
			address_id = #{addressId},
		</if>
		<if test="null != appointmentTime and '' != appointmentTime">
			appointment_time = #{appointmentTime},
		</if>
		<if test="null != isAccount and '' != isAccount">
			is_account = #{isAccount},
		</if>
		<if test="null != priceEvaluation and '' != priceEvaluation">
			price_evaluation = #{priceEvaluation},
		</if>
		<if test="null != isDeleted and '' != isDeleted">
			is_deleted = #{isDeleted},
		</if>
		<if test="null != orderSendTime and '' != orderSendTime">
			order_send_time = #{orderSendTime},
		</if>
		<if test="null != orderGetTime and '' != orderGetTime">
			order_get_time = #{orderGetTime},
		</if>
		<if test="null != orderFinishTime and '' != orderFinishTime">
			order_finish_time = #{orderFinishTime},
		</if>
		<if test="null != modifyUserId and '' != modifyUserId">
			modify_user_id = #{modifyUserId},
		</if>
		<if test="null != checkId and '' != checkId">
			check_id = #{checkId},
		</if>
		<if test="null != orderState and '' != orderState">
			order_state = #{orderState},
		</if>
		<if test="null != individualOrMerchant and '' != individualOrMerchant">
			individual_or_merchant = #{individualOrMerchant},
		</if>
		<if test="null != deductMoney and '' != deductMoney">
			deduct_money = #{deductMoney},
		</if>
		<if test="null != deductMsg and '' != deductMsg">
			deduct_msg = #{deductMsg},
		</if>
		<if test="null != allPrice and '' != allPrice">
			all_price = #{allPrice},
		</if>
		<if test="null != spState and '' != spState">
			sp_state = #{spState},
		</if>
		<if test="null != spMsg and '' != spMsg">
			sp_msg = #{spMsg},
		</if>
	</set>
	WHERE
	oid = #{oid};
   </update>



	<!--订单列表 -->
	<select id="listOrderForm" parameterType="com.xlkj.website.model.SelectOrderDto"
			resultType="com.xlkj.website.model.OrderFormAddDto">
		select
		lo.oid as oId,
		lo.order_code as orderCode,
		lo.open_id as openId,
		lo.receive_id AS receiveId,
		lu.user_name as userName,
		lu.cell_number as cellNumber,
		lo.admin_id AS adminId,
		lu2.user_name as adminName,
		lo.check_id as checkId,
		lu3.user_name as checkName,
		lu3.cell_number as checkNumber,
		lo.address_id AS addressId,
		la.area_name as areaName,
		la.city_name as cityName,
		la.province_name as provinceName,
		la.addressee as addressee,
		la.address as address,
		la.addressee_tel as addresseeTel,
		lo.appointment_time AS appointmentTime,
		lo.is_account AS isAccount,
		lo.price_evaluation AS priceEvaluation,
		lo.is_deleted AS isDeleted,
		lo.order_send_time AS orderSendTime,
		lo.order_get_time AS orderGetTime,
		lo.order_finish_time AS orderFinishTime,
		lo.create_user_id AS createUserId,
		lo.modify_user_id AS modifyUserId,
		lo.order_create_time as orderCreateTime,
		lo.all_price as allPrice,
		lo.deduct_money as deductMoney,
		lo.deduct_msg as deductmsg,
		lo.order_state as orderState,
		lo.sp_state as spState,
		lo.order_type as orderType,
		lo.individual_or_merchant as individualOrMerchant,
		GROUP_CONCAT(DISTINCT lgb.bag_code) as bagCode
		from lp_order lo
		left join lp_user lu on lo.receive_id=lu.uid
		left join lp_user lu2 on lo.admin_id=lu2.uid
		left join lp_user lu3 on lo.check_id=lu3.uid
		left join lp_role lr on lo.open_id=lr.open_id
		left join lp_address la on lo.address_id=la.aid
		left join lp_equipment le on le.eid=lo.eid
		left join lp_garbage_bag lgb on lo.oid=lgb.oid
		where lo.is_deleted=0
		<if test="null != oid and oid != ''">
			AND lo.oid = #{oid}
		</if>
		<if test="null != isDeleted and isDeleted != ''">
			AND lo.is_deleted = #{isDeleted}
		</if>
		<if test="null != keywords and keywords != ''">
			AND (la.addressee like "%"#{keywords}"%" or ar.name like "%"#{keywords}"%")
		</if>
		<if test="null != orderType and orderType != ''">
			AND lo.order_type = #{orderType}
		</if>
		<if test="null != uid and uid != ''">
			AND lo.receive_id = #{uid}
		</if>
		<if test="null != openId and openId != ''">
			AND lo.open_id = #{openId}
		</if>
		<if test="orderState !=null and orderState.size>0 ">
			and lo.order_state in
			<foreach collection="orderState" item="state" open="(" close=")" separator=",">
				#{state}
			</foreach>
		</if>
		<if test="startTime != null and startTime != ''">
			AND DATE_FORMAT(lo.order_create_time,'%Y/%m/%d %H:%i:%S') <![CDATA[>=]]> DATE_FORMAT(#{startTime},'%Y/%m/%d %H:%i:%S')
		</if>
		<if test="endTime != null and endTime != ''">
			AND DATE_FORMAT(lo.order_create_time,'%Y/%m/%d %H:%i:%S') <![CDATA[<=]]>DATE_FORMAT(#{endTime},'%Y/%m/%d %H:%i:%S')
		</if>
		group by lo.oid
		order by lo.order_create_time desc
	</select>



	<!--订单详情 -->
	<select id="OrderFormDetails" parameterType="java.lang.String"
			resultType="com.xlkj.website.model.OrderFormAddDto">
		select
		lo.oid as oId,
		lo.order_code as orderCode,
		lo.open_id as openId,
		lo.receive_id AS receiveId,
		lu.user_name as userName,
		lu.cell_number as cellNumber,
		lo.admin_id AS adminId,
		lu2.user_name as adminName,
		lo.check_id as checkId,
		lu3.user_name as checkName,
	    lu3.cell_number as checkNumber,
		lo.address_id AS addressId,
		la.area_name as areaName,
		la.city_name as cityName,
		la.province_name as provinceName,
		la.addressee as addressee,
		la.address as address,
		la.addressee_tel as addresseeTel,
		lo.appointment_time AS appointmentTime,
		lo.is_account AS isAccount,
		lo.price_evaluation AS priceEvaluation,
		lo.is_deleted AS isDeleted,
		lo.order_send_time AS orderSendTime,
		lo.order_get_time AS orderGetTime,
		lo.order_finish_time AS orderFinishTime,
		lo.create_user_id AS createUserId,
		lo.modify_user_id AS modifyUserId,
		lo.order_create_time as orderCreateTime,
		lo.deduct_money as deductMoney,
		lo.deduct_msg as deductmsg,
		lo.all_price as allPrice,
		lo.order_state as orderState,
		lo.sp_state as spState,
		lo.individual_or_merchant as individualOrMerchant,
		lo.order_type as orderType
		from lp_garbage_bag lgb
		left join lp_order lo on lo.oid=lgb.oid
		left join lp_user lu on lo.receive_id=lu.uid
		left join lp_user lu2 on lo.admin_id=lu2.uid
		left join lp_user lu3 on lo.check_id=lu3.uid
		left join lp_role lr on lo.open_id=lr.open_id
		left join lp_address la on lo.address_id=la.aid
		left join lp_equipment le on le.eid=lo.eid
		where 1=1 AND lgb.bag_code = #{bagCode}
	</select>



	<!--订单新增垃圾袋 -->
	<insert id="addGarbageBag" parameterType="com.xlkj.website.model.GarbageBagDto" >
		INSERT INTO lp_garbage_bag (
		bag_id,
        oid,
        bag_code
		)
		VALUES
		(
		  #{bagId},
		  #{oid},
		  #{bagCode}
		);
	</insert>


	<!--用户新增垃圾袋 -->
	<insert id="addRoleGarbageBag" parameterType="com.xlkj.website.model.RoleGarbageDto" >
		INSERT INTO lp_role_garbage (
		open_id, bag_code, is_delete
		)
		VALUES
		(
		  #{openId},
		  #{bagCode},
		  0
		);
	</insert>

	<!--删除用户新增垃圾袋 -->
	<delete id="deleteRoleGarbageBag">
		delete from lp_role_garbage where open_id=#{openId}
	</delete>


	<!--订单垃圾袋查询 -->
	<select id="listRoleGarbageBag" resultType="java.lang.String" >
		select
            bag_code
        from lp_role_garbage
        where open_id=#{openId}
	</select>

	<!--订单垃圾袋查询 -->
	<select id="designatedRecycling" parameterType="java.lang.String" resultType="com.xlkj.website.model.RoleGarbageDto" >
		select
            rgid,
            open_id openId,
            bag_code bagCode
        from lp_role_garbage
        where bag_code=#{bagCode}
	</select>

</mapper>