<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkj.website.mapper.RoleMapper">

    <!--用户新增 -->
    <insert id="addRole" useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.xlkj.website.model.UserWithBLOBs" >
		INSERT INTO lp_role (
		id,
		open_id,
		avatar_url,
		role_name,
		nick_name,
		telephone,
		gender,
		city,
		country,
		province,
        create_time,
        modify_time
		)
		VALUES
		(
		  #{id},
		  #{openId},
		  #{avatarUrl},
		  #{roleName},
		  #{nickName},
		  #{telephone},
		  #{gender},
		  #{city},
		  #{country},
		  #{province},
		  now(),
		  #{modifyTime}
		);
	</insert>

    <!-- 用户修改 -->
    <update id="modifyRole" parameterType="com.xlkj.website.model.UserWithBLOBs">
        UPDATE lp_role
        <set>
            <if test="null != avatarUrl and '' != avatarUrl">
                avatar_url = #{avatarUrl},
            </if>
            <if test="null != roleName and '' != roleName">
                role_name = #{roleName},
            </if>
            <if test="null != nickName and '' != nickName">
                nick_name = #{nickName},
            </if>
            <if test="null != telephone and '' != telephone">
                telephone = #{telephone},
            </if>
            <if test="null != gender and '' != gender">
                gender = #{gender},
            </if>
            <if test="null != city and '' != city">
                city = #{city},
            </if>
            <if test="null != country and '' != country">
                country = #{country},
            </if>
            <if test="null != province and '' != province">
                province = #{province},
            </if>
                modify_time = now()
        </set>
        WHERE
        open_id = #{openId};
    </update>


    <!--用户列表 -->
    <select id="listRole" parameterType="java.lang.String" resultType="com.xlkj.website.model.UserWithBLOBs">
        select
        lpr.id as id,
        lpr.open_id as openId,
        lpr.avatar_url as avatarUrl,
        lpr.role_name as roleName,
        lpr.nick_name as nickName,
        lpr.telephone as telephone,
        lpr.gender as gender,
        lpr.city as city,
        lpr.country as country,
        lpr.province as province,
        lb.balance as balance
        from lp_role lpr
        left join lp_balance lb on lpr.open_id=lb.open_id
        where lpr.open_id = #{openId}
    </select>

    <!--完成数量-->
    <select id="quantityCompletion" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(oid)
        from lp_order
        where open_id = #{openId} and order_state=4
    </select>

    <!--用户列表 -->
    <select id="listRoles" parameterType="com.xlkj.website.model.SearchUserDto" resultType="com.xlkj.website.model.UserWithBLOBs">
        select
        lpr.id as id,
        lpr.open_id as openId,
        lpr.avatar_url as avatarUrl,
        lpr.role_name as roleName,
        lpr.nick_name as nickName,
        lpr.telephone as telephone,
        lpr.gender as gender,
        lpr.city as city,
        lpr.country as country,
        lpr.province as province
        from lp_role lpr
        where 1=1
        <if test="null != keywords and '' != keywords">
            AND lpr.nick_name = #{keywords} or lpr.role_name = #{keywords}
        </if>

    </select>






</mapper>