<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlkj.website.mapper.SearchAddressMapper">

    <!--省份查找 -->
    <select id="searchProvince" parameterType="com.xlkj.website.model.AddressDto" resultType="com.xlkj.website.model.AddressDto">
        select
          id,
          name,
          code
        from province pro
        where 1=1
        <if test="null != code and code != ''">
            AND code = #{code}
        </if>
        <if test="null != name and name != ''">
            AND name = #{name}
        </if>
        <if test="null != id and id != ''">
            AND id = #{id}
        </if>
    </select>

    <!--市查找 -->
    <select id="searchCity" resultType="com.xlkj.website.model.AddressDto">
        select
        id,
        name,
        code,
        provincecode
        from city
        where 1=1
        <if test="null != code and code != ''">
            AND code = #{code}
        </if>
        <if test="null != name and name != ''">
            AND name = #{name}
        </if>
        <if test="null != id and id != ''">
            AND id = #{id}
        </if>
        <if test="null != provinceCode and provinceCode != ''">
            AND provincecode = #{provinceCode}
        </if>
    </select>

    <!--市查找 -->
    <select id="searchArea" resultType="com.xlkj.website.model.AddressDto">
        select
        id,
        name,
        code,
        citycode
        from area
        where 1=1
        <if test="null != code and code != ''">
            AND code = #{code}
        </if>
        <if test="null != name and name != ''">
            AND name = #{name}
        </if>
        <if test="null != id and id != ''">
            AND id = #{id}
        </if>
        <if test="null != cityCode and cityCode != ''">
            AND citycode = #{cityCode}
        </if>
    </select>

    <!--地址新增 -->
    <insert id="addAddress" useGeneratedKeys="true" keyProperty="aid" keyColumn="aid"
            parameterType="com.xlkj.website.model.AddAddress" >
		INSERT INTO lp_address (
          aid,
          address,
          role_id,
          addressee,
          addressee_tel,
          area_id,
          city_id,
          province_id,
          is_deleted,
          is_default,
          create_time,
          modify_time
		)
		VALUES
		(
		  #{aid},
		  #{address},
		  #{openId},
		  #{addressee},
		  #{addresseeTel},
		  #{areaId},
		  #{cityId},
		  #{provinceId},
		  #{isDeleted},
		  #{isDefault},
		  now(),
		  #{modifyTime}
		);
	</insert>

    <!-- 修改地址信息 -->
    <update id="modifyAddress" parameterType="com.xlkj.website.model.AddAddress">
        UPDATE lp_address
        <set>
            <if test="null != address and '' != address">
                address = #{address},
            </if>
            <if test="null != addressee and '' != addressee">
                addressee = #{addressee},
            </if>
            <if test="null != areaCode and '' != areaCode">
                area_code = #{areaCode},
            </if>
            <if test="null != cityCode and '' != cityCode">
                city_code = #{cityCode},
            </if>
            <if test="null != provinceCode and '' != provinceCode">
                province_code = #{provinceCode},
            </if>
            <if test="null != isDefault and '' != isDefault">
                is_default = #{isDefault},
            </if>
            <if test="null != isDeleted and '' != isDeleted">
                is_deleted = #{isDeleted},
            </if>
            modify_time = now()
        </set>
        WHERE
        aid = #{aid};
    </update>

    <!-- 修改地址信息 -->
    <update id="modifyDefault" parameterType="java.lang.String">
        UPDATE lp_address
        set
            is_default = 0
        WHERE
        role_id = #{openId};
    </update>

    <!--地址列表 -->
    <select id="listAddress" parameterType="com.xlkj.website.model.SearchAddressDto" resultType="com.xlkj.website.model.AddAddress">
        select
        lpa.aid as aid,
        lpa.addressee as addressee,
        lpa.addressee_tel as addresseeTel,
        lpa.address as address,
        pro.code as provinceCode,
        pro.name as provincename,
        cit.code as cidyCode,
        cit.name as cityName,
        ar.code as areaCode,
        ar.name as areaName,
        lpa.is_default as isDefault
        from lp_address lpa
        left join lp_role lpr on lpa.role_id=lpr.id
        left join province pro on lpa.province_id=pro.id
        left join city cit on lpa.city_id=cit.id
        left join area ar on lpa.area_id = ar.id
        where lpa.is_deleted = 0
        <if test="null != openId and '' != openId">
            and lpa.role_id = #{openId}
        </if>
        <if test="null != aid and '' != aid">
            and lpa.aid = #{aid}
        </if>
        <if test="null != isDefault and '' != isDefault">
            and lpa.is_default = #{isDefault}
        </if>
    </select>

</mapper>